html, body{
    width: 100vw;
    height : 100%;
    margin: 10px;
    background-color: rgb(220,220,220);
}

body{
    display: grid;
}

.info{
    text-align: center;
}

.outer_layer{
    width: 100%;
    height: 100%;
    padding: 5%;
    display:table;
    margin: 0px;
    
}

.left_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
    /*background-color: rgb(255,252,248); */
    background-color: blue;
}

.row{
    display: flex;
    align-items: left;
    justify-content: left;

}

.top_row{
    height: 10vh;
    background-color: aqua;
}

.mid_row{
    height: 80vh;
    background-color: bisque;
}

.bottom_row{
    height: 10vh;
    background-color: yellow;
}

.right_side {
    width:50%;
    height:100%; 
    float:right;
    display: grid;
}

.right_side img{
    width: 100%;
    height: auto;
}